---

# Device type
# https://github.com/ktbyers/netmiko/blob/develop/PLATFORMS.md#supported-ssh-device_type-values
device_type: cisco_ios

# Neighbor protocol (lldp or CDP [Cisco only])
protocol: cdp

# Name of key to use for parent hosts in results
# Can be set to any value
result_parent_key: parent_host

# FQDN of Solarwinds Orion server
npm_server: orion.example.com

# SWQL query to retreive hosts
# Mandatory fields: hostname (str), ipaddress (str). Other fields are optional.
npm_query:  SELECT N.NodeID AS id, N.Caption AS hostname, N.IPAddress AS ipaddress, FROM Orion.Nodes N WHERE N.Vendor = 'Cisco'

# Creds to log in to Solarwinds Orion
npm_username: admin
npm_password: p@ssword

# Creds to log in to network devices
net_username: admin
net_password: p@ssword
net_secret: s3cret

# SSH config file to pass to netmiko (optional) 
ssh_config_file: ~/.ssh/config

# Log level (debug, info, warning, error, critical)
log_level: info

# Path to save output CSV
output_path: ./found.csv

# List of capabilities to include or ignore
# Possible values:
# - router
# - bridge (switch)
# - station (host)
# - phone
# - wlan_ap
include_capabilities:
    - router
    - bridge
ignore_capabilities:
    - station
    - phone

# List of regex patterns for hosts ignore
ignore_hosts:
    - sw01
    - rtr04
    - us-west.*

# List of regex patterns for neighbors to ignore
ignore_neighbors:
    - PH.*

# List of textfsm result keys from cmd to exclude from results
ignore_result_keys:
    - software_version

# Maximum concurrent SSH sessions
max_threads: 100

# Path to NTC textfsm templates
# git clone https://github.com/networktocode/ntc-templates.git
ntc_templates_path: ~/ntc-templates/ntc_templates/templates

# Whether or not to validate SSL cert on npm_server
validate_certs: False
